<footer class="site-footer">

  

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->


    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="">
            Updated {{site.data.last_updated[site.active_lang]}}
          </li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
    </div>
    <br/>
    <ul class="footer-logos-wrapper">
      <li class="footer-logos-item">
        <a href="https://ncats.nih.gov/"><img src="/images/en/ncats.png"></a>
      </li>
      <li class="footer-logos-item">
        <a href="https://ctsa.ncats.nih.gov/cd2h/"><img src="/images/en/cd2h.png"></a>
      </li>
      <li class="footer-logos-item">
        <a href="https://ctsa.ncats.nih.gov/"><img src="/images/en/ctsa.png"></a>
      </li>
      <li class="footer-logos-item">
        <a href="https://instedd.org" target="_blank"><img src="/images/logos/instedd_site_logo.png"/></a>
      </li>
    </ul>
    <br/>
    <div class="footer-logos-caption">
      <p>Funded by NIH U24TR002306</p>
    </div>
    <br/>
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <span>Text &copy; 2020 FlattenTheCurve.com</span>
        - <span>Powered by <a href="https://github.com/">GitHub</a>, <a href="https://zeit.co/">ZEIT</a> and <a href="http://lokalise.com/">Lokalise</a></span>
      </div>
    </div>
  </div>

</footer>
