<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
            {{ site.author | escape }}
            {%- else -%}
            {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>
    <br/>
    <ul class="footer-logos-wrapper">
      <li class="footer-logos-item">
        <a href="https://ncats.nih.gov/"><img src="/images/en/ncats.png"></a>
      </li>
      <li class="footer-logos-item">
        <a href="https://ctsa.ncats.nih.gov/cd2h/"><img src="/images/en/cd2h.png"></a>
      </li>
      <li class="footer-logos-item">
        <a href="https://ctsa.ncats.nih.gov/"><img src="/images/en/ctsa.png"></a>
      </li>
      <li class="footer-logos-item">
        <a href="https://instedd.org" target="_blank"><img src="/images/logos/instedd_site_logo.png"/></a>
      </li>
    </ul>
    <br/>
    <div class="footer-logos-caption">
      <p>Funded by NIH U24TR002306</p>
    </div>
    <br/>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <span>Text &copy; 2020 FlattenTheCurve.com</span>
        - <span>Powered by <a href="https://github.com/">GitHub</a>, <a href="https://zeit.co/">ZEIT</a> and <a href="http://lokalise.com/">Lokalise</a></span>
      </div>
      <div class="footer-col footer-col-3">
        Site by <a href="https://www.twitter.com/seanmarkey">@SeanMarkey</a>, <a href="https://twitter.com/manastech">@ManasTech</a>, <a href="https://twitter.com/instedd">@InSTEDD</a>
      </div>
    </div>
  </div>

</footer>
