.text-center {
  text-align: center;
}

#lang-bar {
  list-style-type: none;
  margin: 0;
  padding: 15px 0;
  text-align: right;

  li::before { content: ' | '; }
  li:first-of-type::before { content: none; }
  li {
    display: inline;
    a { margin: 0.3em }
  }
}

.do {
  background-color: green;
  color: white;
  padding: 0.3em;
}

.dont {
  background-color: red;
  color: white;
  padding: 0.3em;
}

