.text-center {
  text-align: center;
}

#lang-bar {
  list-style-type: none;
  margin: 0;
  padding: 15px 0;
  text-align: right;

  li::before { content: ' | '; }
  li:first-of-type::before { content: none; }
  li {
    display: inline;
    a { margin: 0.3em }
  }
}

.do {
  background-color: #4dac26;
  color: white;
  padding: 0.3em;
}

.dont {
  background-color: #d01c8b;
  color: white;
  padding: 0.3em;
}

.toc-desktop, .toc-mobile {
  font-weight: $regular-font-weight;
  padding-right: 1.2em;
}

.section-nav {
  margin-left: 0;
}

.toc-h1 {
  list-style: none;
}

.toc-h1, .toc-h2 {
  padding-top: 1em;
  line-height: 1.2em;
}
