.text-center {
  text-align: center;
}

#lang-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li::before { content: ' | '; }
  li:first-of-type::before { content: none; }
  li {
    display: inline;
    a { margin: 0.3em }
  }
}

.do {
  background-color: green;
  color: white;
  padding: 0.3em;
}

.dont {
  background-color: red;
  color: white;
  padding: 0.3em;
}

.home {
  display: grid;
  grid-template-areas: "nav main";

  @include media-query($on-laptop) {
    grid-template-areas:
      "main"
      "nav";
  }
}

.main{
  grid-area: main;
}
.toc {
  font-weight: 400;
  grid-area: nav;
  padding-right: 1.2em;
}

