@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');

// font styles
$base-font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$bold-font-weight: 700 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;
$side-spacing-unit: 4em !default;

// colors
$black-color : #000 !default;
$white-color: #fff !default;
$grey-color: #999 !default;
$brightblue-color: #2196f3 !default;
$blue-color: #1379cc !default;
$red-color: #ee4338 !default;

$text-color:       $black-color !default;
$light-text-color: $white-color !default;
$background-color: #efefef !default;
$brand-color:      #2a7ae2 !default;

$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1100px !default;

$on-palm:          768px !default;
$on-tablet:        950px !default; //to avoid site nav overlap
$on-laptop:        1440px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/header",
  "minima/footer",
  "minima/typography",
  "minima/act_prepare",
  "minima/posts",
  "minima/tables",
  "minima/home",
  "minima/utilities"
;
