.what-to-do {
  .main {
    h2 {
      font-size: 2em;
      font-style: italic;
    }
    h3 {
      font-weight: bold;
      font-style: normal;
      color: $blue-color;
    }

    h2 + h3 {
      margin-top: .25em;
    }
  }
}

#myths ~ h3 {
  display: flex; // this hides whitespace between quote and the title
  &::before {
    content: open-quote;
  }
  &::after {
    content: close-quote;
  }
}

.disclaimer {
  border: 5px solid rgb(241, 182, 20);
  font-size: 80%;
  padding: 5px;
  margin: 10px;
}

/**
 *  ToC
 */
.toc-desktop {
  flex-basis: 250px;
  flex-shrink: 0;
  .section-nav {
    padding-right: 20px;
  }
}

.toc-mobile {
  display: none;
}

.toc-h2 {
  list-style: none;
}

.toc-h2 > a {
  font-weight: bold;
}

.toc-h2 + .toc-h2 {
  margin-top: 1em;
}

.toc-3 {
  line-height: 1.2em;
  & + .toc-3 { margin-top: .5em; }
}

.toc-desktop {
  padding-right: 1.2em;
}

.main .only_toc {
  height: 0px;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.toc-mobile {
  display: none; 

  .toc-entry ul { display:none; }

}

.toc-wrapper {
  display: flex;
}

@include media-query($on-palm) {
  .toc-wrapper {
    display: block;
  }
  .toc-desktop {
    padding-right: 0;
    margin-bottom: 2em;
    .section-nav { padding:0; }
    ul { margin-left: 0; }
    ul ul { font-size: 80%; }
    li li { display: inline; }
    .toc-h3 + .toc-h3::before {
      // content: "\00B7";
      content: "|";
      // margin-left: .25em;
      margin-right: .25em;
    }
    li + .toc-h2 {
      margin-top: 1em;
    }
  }
}
