.what-to-do {
  .main {
    h2 {
      font-size: 2em;
      font-style: italic;
    }
    h3 {
      font-weight: bold;
      font-style: normal;
      color: $blue-color;
    }

    h2 + h3 {
      margin-top: .25em;
    }
  }
}

#myths ~ h3 {
  display: flex; // this hides whitespace between quote and the title
  &::before {
    content: open-quote;
  }
  &::after {
    content: close-quote;
  }
}

