/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;
  background-color: $text-color;

  // Positioning context for the mobile navigation icon
  position: relative;
  z-index: 10;
}

.site-header .wrapper,
#lang-bar.wrapper {
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
}

.site-title {
  @include relative-font-size(1.625);
  position: absolute;
  z-index: 10;
  line-height: 1.8;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  font-family: 'Helvetica Neue Bold Condensed';
  text-transform: uppercase;

  &,
  &:visited {
    color: $light-text-color;
    text-decoration: none;
  }

  @include media-query($on-palm) {
    @include relative-font-size(1.1);
    line-height: 2.5;
  }
}

.site-header a {
  color: #FFF;
}

#lang-bar {
  list-style-type: none;
  padding-top: .75em;
  padding-bottom: .75em; 
  text-align: right;

  li::before { content: ' | '; }
  li:first-of-type::before { content: none; }
  li {
    display: inline;
    a { margin: 0.3em }
  }
  li:last-child {
    a { margin-right: 0; }
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $light-text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    & + .page-link {
      margin-left: 1em;
    }
  }

  @include media-query($on-tablet) {
    width: calc(100% - #{$spacing-unit});
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $text-color;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $light-text-color;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      margin-left: 20px;
    }
  }
}
