.do-these {
	h3 {
		@include title-text;
		color: $red-color;
		margin: 0;

		a {
			color: inherit;
		}
	}
}

h1.headline,
h2.get-informed {
	@include media-query($on-palm) {
		text-align: left;
	}
}


.ctas {
	
	h2 {
		@include title-text;
		color: $brightblue-color;
		margin: 0;

		a {
			color: inherit;
		}
	}
}

.get-informed {
	font-style:italic;
	margin-top: 0;
}

.missions {
	margin-top: 2em;
	display: flex;
	justify-content: space-between;
	background-color: rgba(255,255,255,.75);
	padding-top: 1em;
	padding-bottom: 1em;

	.mission {
		text-align: center;
		flex-basis: 30%;
	}
	.mission h2 {
		font-size: 1.25em;
		color: $blue-color;
	}
	.mission p {
		margin: 0;
	}

	@include media-query($on-palm) {
		display: block;

		.mission + .mission {
			margin-top: 1em;
		}
	}

}
