.hero {
	background-image: url('../images/hero.svg');
	background-repeat: no-repeat;
	background-size: 100% 90%;
	background-position: bottom;
	padding: 1em;
	padding-bottom: 0;
	margin-bottom: 1em;

	// these negate the padding on the .wrapper div
	margin-left: -1 * $spacing-unit;
  	margin-right: -1 * $spacing-unit;
  	margin-top: -2em;

	@include media-query($on-laptop) {
		margin-left: -.5 * $spacing-unit;
	  	margin-right: -.5 * $spacing-unit;
	}

	@include media-query($on-palm) {
	  	background-size: 100% 60%; // don't squeeze the graphic so much
	}

	h1 {
		font-size: 45px;
		text-transform: uppercase;
		letter-spacing: .025em;
	}

	[id^="updated"] {
		font-size: .8em;
	}
}

.get-informed {
	font-style:italic;
	margin-top: 0;
}

.missions {
	margin-top: 2em;
	display: flex;
	justify-content: space-between;
	background-color: rgba(255,255,255,.75);
	padding-top: 1em;
	padding-bottom: 1em;

	.mission {
		text-align: center;
		flex-basis: 30%;
	}
	.mission h2 {
		// margin-bottom: 0;
		font-size: 1.25em;
		color: $blue-color;
	}
	.mission p {
		margin: 0;
	}

	@include media-query($on-palm) {
		display: block;

		.mission + .mission {
			margin-top: 1em;
		}
	}

}
