
.home {
  display: flex;
}

/**
 * Page content
 */
.page-content {
  // padding: 0 0 $spacing-unit 0;
  flex: 1;
}

.page-content .wrapper {
  background-color: $light-text-color;
  padding-top: 2em;
  padding-bottom: 5em;
}

.page-heading {
  @include relative-font-size(2);
}


.section-nav {
  margin-left: 0;
}
