
.home {
  display: flex;
}

/**
 * Page content
 */
.page-content {
  // padding: 0 0 $spacing-unit 0;
  flex: 1;
}

.page-content .wrapper {
  background-color: $light-text-color;
  padding-top: 2em;
  padding-bottom: 5em;

  // This is to style non-english page title, until .hero is added
  h1:first-of-type {
    font-size: 45px;
  }
  // and this
  h2:first-of-type {
    margin-top: 0;
  }
}

.page-heading {
  @include relative-font-size(2);
}


.section-nav {
  margin-left: 0;
}
