// This is the home for hacks that should only apply to the legacy homepage (still in place for non-English versions)
// When the legacy homepage is no longer in use, this file should get removed.
// You can check for this by checkig the /index-*.md files and looking for this:
//
// <div class="legacy-homepage" markdown="1">
// {% render_section home %}
// </div>
//
// When all those wrapping divs are gone, these styles are no longer relevant.
.legacy-homepage {

	.page-content .wrapper {
		// This is to style non-english page title, until .hero is added
		h1:first-of-type {
			font-size: 45px;
		}
		// and this
		h2:first-of-type {
			margin-top: 0;
		}
	}
}