.narrow {
	max-width: 46rem;
	margin-left: auto;
	margin-right: auto;
}

.text-center {
  text-align: center;
}

.push-up-1 { margin-top: $spacing-unit; }
.push-up-2 { margin-top: $spacing-unit*2; }
.push-up-3 { margin-top: $spacing-unit*3; }
.push-up-4 { margin-top: $spacing-unit*4; }